.main_container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.form_container{
 
  /* text-align: center; */
  border: 2px solid black;
  border-radius: 1rem;
  width: 35%;
  background-color: rgb(227, 205, 225);
  box-shadow: 10px 5px 5px gray;
  margin-top: 6px;
  padding: 2rem;
  margin:20px;
}
.form-control{
  width: 28%;
  padding: 6%;
}
.submit_container{
  margin-top: 20;
}
.error{
  color: red;
}